{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link href="{% static 'css/bienvenido.css' %}" rel="stylesheet"/>
</head>
<body>
    <h2>Número de Marcas: {{num_marca}}</h2>
    <div class="mt-md-4">
        <button type="button" class="btn btn-success"><a class="text-white" href="nueva_marca" style="">Agregar Marca</a></button>
    </div>
    <div class="mt-md-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>CATEGORÍA</th>
                </tr>
            </thead>
            {% for marca in marcas %}
            <tbody>
                <tr>
                    <td class="continue">{{marca.id}}</td>
                    <td class="continue">{{marca.nombre}}</td>
                    <td class="continue">{{marca.categoria_id}}</td>
<!--                    <td><button type="button" class="btn btn-primary"><a href="detalle_cli/{{cliente.id}}"><i class="fas fa-eye white"/></a></button></td>-->
<!--                    <td><button type="button" class="btn btn-success"><a href="editar_cli/{{cliente.id}}"><i class="fas fa-edit white"/></a></button></td>-->
<!--                    <td><button type="button" class="btn btn-danger"><a href="eliminar_cli/{{cliente.id}}"><i class="fas fa-trash-alt white"/></a></button></td>-->
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}