<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Búsqueda de productos</title>
</head>
<body>
    <p>Estás buscando: <strong>{{query}}</strong></p>
    {% if  articulos %}
        <p>Artículos encontrados: {{articulos|length}} articulos</p>
        <ul>
            {% for articulo in articulos %}
                <li>
                    {{articulo.nombre}} &nbsp; {{articulo.seccion}} &nbsp; {{articulo.precio}}
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <p> No está el artículo encontrado</p>
    {% endif %}
</body>
</html>